{% extends "layout/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .sf-dump {
            margin-bottom : 0;
        }
    </style>
{% endblock %}
{% block title %}{{ parent() }} - Profile{% endblock %}
{% block innerTitle %}Profile{% endblock %}
{% block classbody %} class="sb-nav-fixed"{% endblock %}
{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-{{ ("ROLE_PERSO" in app.user.roles) ? "8" : "10" }}">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="p-3">
                    <h4>Bienvenue, {{ app.user.username }}</h4>
                    <p>
                        Vous avez les permissions de
                        <br>
                        {% for roles in app.user.roles %}
                            {{ roles }}
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </p>

                    <p> -> <a href="{{ path("app_print") }}">print</a> - future page d'impression des feuilles de
                        présence, non accessible aux stagiaires, sert pour le moment à d'essais graphiques pour une
                        administration</p>
                    {% if is_granted('ROLE_PERSO') %}
                        <div class="accordion mb-3" id="apiAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="api">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Routes de l'api
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="api" data-bs-parent="#apiAccordion">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            <div class="list-group-item p-3">
                                                <a class="btn btn-primary" href="{{ path("api_users") }}" target="_blank" id="api_users">api-users</a>
                                                <p class="m-0 mt-2">page de récupération de tout les utilisateurs</p>
                                            </div>
                                            <div class="list-group-item bg-light p-3">
                                                <form class="form-floating">
                                                    <select class="form-select" id="roles" aria-label="Floating label select example">
                                                        <option selected disabled>Choisissez un rôle</option>
                                                        {% for role in app.user.roles %}
                                                            <option value="{{ role }}">{{ role }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="roles">api-users-by-role:</label>
                                                    <p class="m-0 mt-2">page de récupération de tout les utilisateurs par rôle</p>
                                                </form>
                                            </div>
                                            <div class="list-group-item p-3">
                                                <a class="btn btn-primary" href="{{ path("api_interns") }}" target="_blank" id="api_interns">api-interns</a>
                                                <p class="m-0 mt-2">page de récupération de tout les stagiaires</p>
                                            </div>
                                            <div class="list-group-item bg-light p-3">
                                                <form class="form-floating">
                                                    <select class="form-select" id="formations">
                                                        <option selected disabled>Choisissez une formation</option>
                                                        {% for promotion in promotions %}
                                                            <option value="{{ promotion.acronym }}">{{ promotion.promoname }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="formations">api-interns-by-formations:</label>
                                                    <p class="m-0 mt-2">page de récupération de tout les stagiaires par formation</p>
                                                </form>
                                            </div>
                                            <div class="list-group-item p-3">
                                                <div class="form-floating">
                                                    <select class="form-select" id="userPromo">
                                                        <option selected disabled>Choisissez une formation</option>
                                                    </select>
                                                    <label for="userPromo">Choissisez la formation du stagiaire</label>
                                                </div>
                                                <div class="form-floating">
                                                    <select class="form-select" id="username" disabled>
                                                        <option selected disabled>Choisissez un nom</option>
                                                        <option class="text-danger" value="none">auto reset select</option>
                                                    </select>
                                                    <label for="username" class="text-danger">Choissisez d'abord la formation du stagiaire</label>
                                                </div>
                                                <p class="m-0 mt-2">page de récupération des données d'un stagiaire en fonction de sa formation et de son nom d'utilisateur</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <h5><a href="{{ path('app_logout') }}">Déconnexion</a></h5>
                    {# dump(app.user) #}
                </div>
            </div>
        </div>
        {% if "ROLE_PERSO" in app.user.roles %}
            <div class="col-lg-4">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="mb-2 p-3">
                        <h4>Récupération des données en AJAX</h4>
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('JsonThis') }}
    <script>
        $("#roles").change(() => {
            new JsonThis(`{{ path("api_usersByRole") }}/${$("#roles").val().replace("ROLE_", "")}`, "#result");
        })
        $("#formations").change(() => {
            new JsonThis(`{{ path("api_internsByPromotions") }}/${$("#formations").val()}`, "#result");
        })
        $("#api_users").click((e) => {
            e.preventDefault()
            new JsonThis("{{ path("api_users") }}", "#result");
        });
        $("#api_interns").click((e) => {
            e.preventDefault()
            new JsonThis("{{ path("api_interns") }}", "#result");
        });
        $(document).ready(() => {
            $.get("{{ path("api_promotions") }}", (datas) => {
                datas.forEach((data) => {
                    $("#userPromo").append(`<option value="${data.acronym}">${data.promoname}</option>`)
                })
            })
        });
        $("#userPromo").change(() => {
            $.get(`{{ path("api_internsByPromotions") }}/${$("#userPromo").val()}`, (datas) => {
                $(".toSelect").remove();
                datas.forEach((data) => {
                    $("#username").append(`<option class="toSelect" value="${data.username}">${data.thesurname} ${data.thename}</option>`)
                })
            })
            $("#username").prop("disabled", false);
            $("label[for=username]").html("Choissisez le nom du stagiaire").removeClass("text-danger")
            if ($("#username").val() !== null) {
                $("#username").val(1);
            }
        });
        $("#username").change(() => {
            new JsonThis(`{{ path("api_internsByName") }}/${$("#userPromo").val()}/${$("#username").val()}`, "#result");
        })
    </script>
{% endblock %}

