{% extends 'template.sbadmin.html.twig' %}

{% block title %}{{ parent() }} - Profile{% endblock %}

{% block classbody %} class="bg-primary"{% endblock %}
{% block top %}{% endblock %}
{% block navbar %}
    {% block navbrand %}{% endblock %}
    {% block navsidebar %}{% endblock %}
    {% block navsearch %}{% endblock %}
    {% block navcontent %}{% endblock %}
{% endblock %}
{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="mb-2 p-3">
        <h4>Bienvenue, {{ app.user.username }}</h4><p>Vous avez les permissions de <br>
            {% for roles in app.user.roles %}{{ roles }}
                {% if not loop.last %} <br> {% endif %}
            {% endfor %}</p>
        {% if is_granted('ROLE_PERSO') %}
        <p> -> <a href="{{ path("app_print") }}">print</a> - future page d'impression des feuilles de présence, non accessible aux stagiaires, sert pour le moment à d'essais graphiques pour une administration</p>
        {% endif %}
        <h5><a href="{{ path('app_logout') }}">Déconnexion</a></h5>
        {{ dump(app.user) }}
    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    </div>
</div>

                    {% endblock %}

