<h1>Bonjour {{ user }}! </h1>
<p>Pour changer votre mot de passe, veuillez cliquer sur le lien suivant: </p>
<p><a href="https://{{ host }}:{{ port }}/resetPassword/U{{ user }}&I{{ uid }}">Reset mon mot de passe</a></p>
