{% extends "layout/layout.html.twig" %}
{% block innerTitle %}User{% endblock %}
{% block main %}
    {{ dump(user) }}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Role</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.roles }}</td>
            <td>{{ user.thename }}</td>
            <td>{{ user.thesurname }}</td>
            <td>{{ user.themail }}</td>
            <td>{{ user.thestatus }}</td>
        </tr>

        </tbody>
    </table>
{% endblock %}