<a class="nav-link collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#{{ entity }}" aria-expanded="false" aria-controls="{{ entity }}">
    <div class="sb-nav-link-icon">
        <i class="{{ fas }}"></i>
    </div>
    {{ entity|capitalize }}
    <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down"></i>
    </div>
</a>
<div class="collapse" id="{{ entity }}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ path("app_homepage") }}">Create</a>
        <a class="nav-link" href="{{ path("app_homepage") }}">Read</a>
        <a class="nav-link" href="{{ path("app_homepage") }}">Update</a>
        <a class="nav-link" href="{{ path("app_homepage") }}">Delete</a>
    </nav>
</div>