<a class="nav-link collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#{{ entity }}" aria-expanded="false" aria-controls="{{ entity }}">
    <div class="sb-nav-link-icon">
        <i class="{{ fas }}"></i>
    </div>
    {{ entity|capitalize }}
    <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down"></i>
    </div>
</a>
<div class="collapse" id="{{ entity }}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ path("app_admin_create_"~mod) }}">
            <div class="sb-nav-link-icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            Create
        </a>
        <a class="nav-link" href="{{ path("app_admin_read_"~mod) }}">
            <div class="sb-nav-link-icon">
                <i class="fa-brands fa-readme"></i>
            </div>
            Read
        </a>
        <a class="nav-link" href="{{ path("app_admin_delete_"~mod) }}">
            <div class="sb-nav-link-icon">
                <i class="fa-solid fa-eraser"></i>
            </div>
            Delete
        </a>
    </nav>
</div>