<nav class="sb-sidenav accordion sb-sidenav-dark scrollbar-danger" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">

            <div class="sb-sidenav-menu-heading">Rubriques</div>
            <div>
                <a class="nav-link" href="{{ path('app_homepage') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Accueil
                </a>
            </div>
            <div>
                <a class="nav-link" href="{{ path('app_profile') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    Profile
                </a>
            </div>
            {% if(app.user and "ROLE_ADMIN" in app.user.roles) %}
                <div class="sb-sidenav-menu-heading">Administration</div>
                {# <a class="nav-link collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-columns"></i>
                </div>
                Exemple dropdown 1
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" role="button">Lien 1</a>
                    <a class="nav-link" role="button">Lien 2</a>
                </nav>
            </div> #}
                <a href="{{ path("app_admin_index") }}" class="nav-link" role="button">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-toolbox"></i>
                    </div>
                    Admin
                </a>
                <a class="nav-link collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#cruds" aria-expanded="false" aria-controls="cruds">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                    </div>
                    Cruds
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="cruds" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"utilisateurs",fas:"fas fa-users", mod:"users"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"inscriptions",fas:"fas fa-user-plus", mod:"registrations"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"promotions",fas:"fas fa-school", mod:"promotions"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"options",fas:"fas fa-cogs", mod:"options"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"conges",fas:"fas fa-calendar-minus", mod:"holidays"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"presences",fas:"fas fa-file-archive", mod:"attendancesheets"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"suivis",fas:"fas fa-address-book", mod:"followups"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"evenements",fas:"fas fa-calendar-times", mod:"specialevents"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"type",fas:"fas fa-question", mod:"specialeventtypes"} %}
                        </div>
                        <div>
                            {% include "layout/blocks/crudLinkEntities.html.twig" with {entity:"justificatifs",fas:"fas fa-user-md", mod:"proofofabsences"} %}
                        </div>
                    </nav>
                </div>
            {% endif %}
            <div class="sb-sidenav-menu-heading">Apps</div>
            <a href="{{ path("app_perso_vueApp") }}" class="nav-link" role="button">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-calendar"></i>
                </div>
                Exemple
            </a>
            <a href="{{ path("app_perso_appPierre") }}" class="nav-link" role="button">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-calendar"></i>
                </div>
                App Pierre
            </a>
            <a href="{{ path("app_perso_statGraph") }}" class="nav-link" role="button">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-calendar"></i>
                </div>
                Test ChartJs
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Connecté en tant que: {{ (app.user) ?  app.user.username : "" }}</div>
    </div>
</nav>