{% extends "layout/layout.html.twig" %}
{% block innerTitle %}FormUser{% endblock %}
{% block main %}

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11">
            {{ form_start(form) }}
                
                <div class="form-floating mb-3 w-50">
                    <label class="form-label" for="username">{{ form_label(form.username) }}</label>
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group mb-5 w-50">
                    <label class="form-label" for="roles">{{ form_label(form.roles) }}</label>
                    {{ form_widget(form.roles) }}
                </div>
                <div class="form-floating mb-5 w-50">
                    <label class="form-label" for="password">{{ form_label(form.password) }}</label>
                    {{ form_widget(form.password) }}
                </div>
                <div class="form-floating mb-5 w-50">
                    <label class="form-label" for="thename">{{ form_label(form.thename) }}</label>
                    {{ form_widget(form.thename) }}
                </div>
                <div class="form-floating mb-5 w-50">
                    <label class="form-label" for="thesurname">{{ form_label(form.thesurname) }}</label>
                    {{ form_widget(form.thesurname) }}
                </div>
                <div class="form-floating mb-5 w-50">
                    <label class="form-label" for="themail">{{ form_label(form.themail) }}</label>
                    {{ form_widget(form.themail) }}
                </div>

                <div class="form-group mb-0">
                    {{ form_widget(form.register) }}
                </div>

            {{ form_end(form) }}
</div>
</div>
</div>
    

{% endblock %}